<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonLabel">Create or edit a Person</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

		<div class="form-group" [hidden]="true"> <!-- [hidden]="!person.id" -->
			<label for="id">ID</label>
			<input type="text" class="form-control" id="id" name="id"
				   [(ngModel)]="person.id" readonly />
		</div>

		<div class="row">
			<div class="col">
				<div class="form-group">
					<label class="form-control-label" for="field_name">Name</label>
					<input type="text" class="form-control" name="name" id="field_name"
						   [(ngModel)]="person.name"  />
				</div>
			</div>
			<div class="col">
				<div class="form-group">
					<label class="form-control-label" for="field_address">Address</label>
					<input type="text" class="form-control" name="address" id="field_address"
						   [(ngModel)]="person.address"  />
				</div>
			</div>
		</div>
        <div class="form-group">
            <label class="form-control-label" for="field_info">Info</label>
            <input type="text" class="form-control" name="info" id="field_info"
                [(ngModel)]="person.info"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dob">Dob</label>
            <div class="input-group">
                <input id="field_dob" type="text" class="form-control" name="dob" ngbDatepicker  #dobDp="ngbDatepicker" [(ngModel)]="person.dob"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" (click)="dobDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
		<div class="form-group">

			<video width="320" height="320" #video id="video" autoplay></video>

			<div><button id="snap" (click)="capture()" type="button">Snap Photo</button></div>
			<canvas #canvas id="canvas" width="640" height="480"></canvas>
			<ul>
				<li *ngFor="let c of captures">
					<img src="{{ c }}" height="50" />
				</li>
			</ul>
		</div>

		</div>
        <div class="form-group">
            <label class="form-control-label" for="field_image">Image</label>
            <div>
                <img [src]="'data:' + person.imageContentType + ';base64,' + person.image" style="max-height: 100px;" *ngIf="person.image" alt="person image"/>
                <div *ngIf="person.image" class="form-text text-danger clearfix">
                    <span class="pull-left">{{person.imageContentType}}, {{byteSize(person.image)}}</span>
                    <button type="button" (click)="clearInputImage('image', 'imageContentType', 'fileImage')" class="btn btn-secondary btn-xs pull-right">
                        <span class="fa fa-times"></span>
                    </button>
                </div>
                <input type="file" id="file_image" (change)="setFileData($event, person, 'image', true)" accept="image/*"/>
            </div>
            <input type="hidden" class="form-control" name="image" id="field_image"
                [(ngModel)]="person.image"  />
            <input type="hidden" class="form-control" name="imageContentType" id="field_imageContentType"
                [(ngModel)]="person.imageContentType" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_faceId1">Face Id 1</label>
            <input type="text" class="form-control" name="faceId1" id="field_faceId1"
                [(ngModel)]="person.faceId1"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_faceId2">Face Id 2</label>
            <input type="text" class="form-control" name="faceId2" id="field_faceId2"
                [(ngModel)]="person.faceId2"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_owner">Owner</label>
            <input type="text" class="form-control" name="owner" id="field_owner"
                [(ngModel)]="person.owner"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
