<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="person">
            <h2><span>Person</span> {{person.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{person.name}}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{person.address}}</span>
                </dd>
                <dt><span>Info</span></dt>
                <dd>
                    <span>{{person.info}}</span>
                </dd>
                <dt><span>Dob</span></dt>
                <dd>
                    <span>{{person.dob}}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="person.image">
                        <a (click)="openFile(person.imageContentType, person.image)">
                            <img [src]="'data:' + person.imageContentType + ';base64,' + person.image" style="max-width: 100%;" alt="person image"/>
                        </a>
                        {{person.imageContentType}}, {{byteSize(person.image)}}
                    </div>
                </dd>
                <dt><span>Face Id 1</span></dt>
                <dd>
                    <span>{{person.faceId1}}</span>
                </dd>
                <dt><span>Face Id 2</span></dt>
                <dd>
                    <span>{{person.faceId2}}</span>
                </dd>
                <dt><span>Owner</span></dt>
                <dd>
                    <span>{{person.owner}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/person', person.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
