[Unit]
Description=ML-Stack-Client Service

[Service]
User=root
WorkingDirectory=/home/deployments/mlstack-client
EnvironmentFile=/home/deployments/apps/client-vars
ExecStart=/bin/bash /home/deployments/mlstack-client/start.sh

SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
